/*================================================= 
 * General slide stlyes
 *=================================================*/
@import url(http://fonts.googleapis.com/css?family=Podkova);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: #555 url(lib/images/bg.jpg) center;
    background-size: cover;
}
body {
    font-size: 1.5em;
}
h3 {
    font-family: 'Podkova', Arial, sans-serif;
    color: #bbb;
}
#slides {
    height: 100%;
    width: 100%;
}
.slide {
    padding: 50px 30px 30px;
    text-shadow: 0 2px 2px #333;
}
.slide li {
    margin-bottom: 10px;
}
.slide h3 {
    font-size: 2em;
    margin: 0;
}
.ux-carousel-sync-msg {
    position: absolute;
    padding: 0 5px;
    left: 100px;
    top: 7px;
    font-size: 13px;
    color: #555;
}
.ux-carousel-sync-msg a,
.ux-carousel-sync-msg a:visited {
    color: #33c;
    font-weight: bold;
}

/*================================================= 
 * Carousel UX overrides 
 *=================================================*/
.ux-carousel-caption {
    color: #339;
}

/*================================================= 
 * Slide-specific styles 
 *=================================================*/
#title-slide {
    text-align: right;
    padding: 80px 80px 0 0;
}
#title-slide h3 {
    margin-bottom: 80px;
}
#title-slide h3 span {
    color: #5caec0;
    font-size: 1.3em;
    font-family: 'Varela Round', Arial, sans-serif;
}
#title-slide .info {
    font-size: .9em;
}
